 *{
    margin: 0px;
    text-align: center;
    text-decoration: none;
    font-family: sans-serif;
    text-transform: uppercase;
} 
.user{
    margin: 20px;
}
textarea{
    width: 100%;
    height: 200px;
}
.oculto{
    display: none;
   
}
.view{
    visibility: visible;
}
/*  
body{
    background-image: url(../img/fondo.png);
   background-repeat: no-repeat;
   background-position: center center;
   background-attachment: fixed;
   background-size: cover;
   backface-visibility: hidden;
}
main{
    display: grid;
    font-family: sans-serif;
    height: 100vh;
    width: 100vw;
    grid-gap: 10px;

especificar posicion de las areas 
grid-template-areas:
    "haeder"
    "contenido"
    "izquierda"
    "derecha"
    "footer";
}

main > * {
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (min-width:500px){
    main{
        grid-template-areas: 
        " haeder haeder"
        "contenido derecha"
        " footer footer";
        grid-template-columns:  4fr 1fr;
        grid-template-rows: 2fr 5fr 1fr;
    }
}

article{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
}

div{
    border:solid 2px ivory;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    align-items: center;
}


header{
    grid-area: haeder;
}
article{
    grid-area: contenido;
}
aside:last-of-type{
    grid-area: derecha;
}
footer{
    grid-area: footer;
}

*/
    .login,form,nav,footer,.encabezado,header,.list{
        background-image: url(../img/fondologin.jpg);
        background-size: cover;
    }


body{
   background-image: url(../img/fondo.png);
   background-repeat: no-repeat;
   background-position: center center;
   background-attachment: fixed;
   background-size: cover;
   backface-visibility: hidden;
}
h1,h2,a{
    color: rgb(207, 34, 3);
}
h1{
margin-top: 3%;
margin-bottom: 3%;
}
.search{
    padding: 8px;
    background: none;
    border: none;
}
header>.btn{
    padding: 2px;
}
.btn {
   background: rgba(195, 17, 17, 0.445);
   padding: 8px;
   font-size: 15px;
   cursor: pointer;
   border-radius: 5px;
   margin: 1%;
}

.portada{
    width: 400px;
    
    background-repeat: no-repeat;
}

.btn:hover,input:hover {
    transition: all 0.5s;
    background-color: #b11818
}
a:hover{
    /* border-radius: 5px; */
    /* padding: 2px; */
    color: rgba(246, 246, 246, 0.61);
}
nav {
    border-bottom: 5px solid  rgb(255, 15, 3);
     padding: 0px;
     display: flex;
     flex-flow: wrap;
     justify-content: space-evenly;
 }
form {
    padding: 20px;
 }
input {
    text-transform: none;
    background-color: rgb(61, 67, 87);
    height: 25px;
    border-radius: 3px;
}
form,input,.list,.btn,.wraped,.login{
    border: 2px solid rgb(255, 0, 0);
}
.container,.info{
    display: flex;
    flex-flow: row nowrap;
    /* justify-content: space-evenly; */
    justify-content: space-evenly;  
}
header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.list{
    width: 30%;
    margin: 2px;
    height: min-content;
}
.list>ul{
    padding: 2px;
}
.info>.detail{
    padding: 5px;
}
.info,.detail,.container{
    width: 100%;
    height: 100%;
}
.index {
    position: relative;
}
.wraped{
    display: flex;
    text-align: center;
    margin: 3px;
    background-color: rgba(2, 2, 2, 0.822);
}
.detail{
    text-align: center;
    margin-top: 3px;
    margin-bottom: 3px;
}
.detailgame{
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10px;
    border: solid rgb(126, 128, 0) 2px;
    background-image: url(../img/fondodiv.jpg);
 }

.login {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    padding: 20px;
    width: 300px;
}
.detail>h4,footer>h2,label,ul,li,.btn,p,h4,input{
color: white;
padding: 4px;
}
.container>.btn{
    margin-bottom: 45px;
}
label{
    font-size: 15px;
}
ul,li{
    font-size: 20px;
    margin: 2px;
    list-style: none;
}
footer {
    border-top: 5px solid  rgb(255, 2, 2);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
.video{
    width:75%;
    height: 390px;
    border: none;
    margin-top: 10%;
}
.gif{
    width: 50%;
}
.img{
width: 80%;
}
.busqueda{
    text-transform: none;
}
.error{
    background: rgba(26, 0, 0, 0.753);
    border: solid 2px yellow;
    margin: 40px;
    padding: 30px;
}