*{
    margin: 0px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
   
}
body{
    margin: 0%;
    background-color: rgba(20, 20, 20, 0.993);
}
h1,h2,a{
    color: red;
}
header{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.search{
    padding: 8px;
}
header>.btn{
    padding: 2px;
}
img{
padding: 3px;
}

nav {
    /* background-color: black; */
    border-bottom: 5px solid  rgb(255, 8, 0);   
     margin: 0px;
     display: flex;
     flex-flow: row wrap;
     font-size: 30px;
     justify-content: space-evenly;
     padding: 0px;
 }
 .btn {
    background: rgba(34, 34, 53, 0.445);
    border: 2px solid #ff0000;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    margin: 1%;
}
form {
    text-align: center; 
    padding: 20px; 
    border: 2px solid rgb(253, 0, 0);    
 }

input {
    background-color: rgb(61, 67, 87);
    height: 25px;
    color: rgb(19, 17, 17);
    width: 180px;
    border-radius: 3px;
    border: 1px solid rgb(255, 0, 0);
}
footer {
  border-top: 5px solid  rgb(255, 2, 2);
  left: 0;
  bottom: 0;
  width: 100%;
}

.container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    width: 100%;
}
.list{
    width: 20%;
    margin: 2px;
    border: 1px solid rgb(255, 0, 0);
}
.list>ul{
    padding: 1px;
}
.info{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    width: 100%;
}
.info>.detail{
    margin: 0px;
}
.info>.detail{
    padding: 5px;
    width: 100%;
    height: 100%;
}
.wraped{
    display: flex;
    text-align: center;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 3px;
    margin-bottom:3px;
    background-color: rgba(2, 2, 2, 0.822);
}
h2{
    margin: 0px;
}
.detail{
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3px;
    margin-bottom: 3px;
    border: 1px solid rgb(255, 0, 0);
 }
 .index {
     position: relative;
     width: 100%;
    height: 100%;
}
.login,form,.detail,nav,footer,.encabezado,header,.list{
    background-image: url(../img/fondologin.jpg); 
    background-size: cover;
}

.login {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    padding: 20px;
    width: 300px;
}
.detail>h4,p,footer>h2,label,ul,li,.btn{
color: white;
}

footer>h2{
    margin: 5px;
}
label,ul,li{
    font-size: 20px;
    margin: 20px;
} 
ul,li{
    list-style: none;
    margin: 2px;
}