body{
    background-color: rgb(0, 0, 0);
    background-size: contain;
    font-family: 'Rokkitt', serif;   
    text-transform: capitalize;
}
ul{
    list-style: none;
}
li{
    margin: 20px;
    list-style: none;
}
a{
  text-decoration: none;
  color: rgb(51, 255, 0);
}
nav {
    background-color: rgb(2, 0, 138);
    border-bottom: 3px solid  rgba(5, 255, 26, 0.87);   
     margin: 0px;
     display: flex;
     flex-flow: row wrap;
     font-size: 30px;
     justify-content: space-evenly;
     padding: 0px;
 }
 .btn {
    background: none;
    border: 2px solid rgb(30, 255, 0);
    color: rgb(25, 255, 4);
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    margin: 1%;
}
form {
    text-align: center;  
    border: 2px solid rgb(255, 255, 255);
    color:rgb(255, 255, 255);    
 }

input {
    background-color: rgb(61, 67, 87);
    height: 25px;
    color: rgb(245, 245, 245);
    width: 180px;
    border-radius: 3px;
    border: 1px solid #39c;
}
footer {
    position:sticky;
    width:100%;
    background-color: rgb(61, 67, 87);
    text-align: center;
    border: 5px solid  rgba(7, 3, 255, 0.349);
}

.container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 100%;
}
.main{
    background-color: rgba(7, 3, 255, 0.349);
    display: flex;
    margin: 2px;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}
.detail{
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3px;
    margin-bottom:3px;
    background-color: rgba(7, 3, 255, 0.349);
}
.wraped{
    color: seashell;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 3px;
    margin-bottom:3px;
    background-color: rgba(35, 33, 139, 0.349);
}
h2{
    margin: 0px;
}
