*{
    margin: 0px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
}
body{
   background-color: rgba(42, 19, 19, 0.993); 
}
h1,h2,a{
    color: rgb(235, 59, 59);
}
.search{
    padding: 8px;
    background: none;
}
header>.btn{
    padding: 2px;
}
.btn {
   background: rgba(34, 34, 53, 0.445);
   padding: 8px;
   font-size: 15px;
   cursor: pointer;
   border-radius: 5px;
   margin: 1%;
}
nav {
    border-bottom: 5px solid  rgb(255, 8, 0);   
     padding: 0px;
 }
form { 
    margin-top: 4px;
    padding: 20px;  
    border: solid rgb(104, 9, 9) 2px; 
 }
input {
    background-color: rgb(61, 67, 87);
    height: 25px;
    width: 180px;
    border-radius: 3px;
}
.form,input,.list,.btn,.wraped,.login{
    border: 2px solid rgb(255, 0, 0); 
}
.container,.info,nav,header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}
.list{
    width: 20%;
    margin: 2px;
    height: min-content;
}
.list>ul{
    padding: 2px;
}
.info>.detail{
    padding: 5px;
}
.info,.detail,.container{
    width: 100%;
    height: 100%;
}
.index {
    position: relative;
}
.wraped{
    display: flex;
    text-align: center;
    margin: 3px;
    background-color: rgba(2, 2, 2, 0.822);
}
.detail{
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3px;
    margin-bottom: 3px;
}
.detailgame{
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
    border: solid rgb(126, 128, 0) 2px;
 }
.detailgame{
    background-image: url(../img/fondo4.jpg);
    background-size: contain;
    
}
.login,form,nav,footer,.encabezado,header,.list{
    background-image: url(../img/fondologin.jpg); 
    background-size: cover;
}
.login {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    padding: 20px;
    width: 300px;
}
.detail>h4,footer>h2,label,ul,li,.btn,p,h4,input{
color: white;
}
.container>.btn{
    margin-bottom: 45px;
}
label,ul,li{
    font-size: 20px;
    margin: 2px;
    list-style: none;
} 
footer {
    border-top: 5px solid  rgb(255, 2, 2);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
.video{
    width:560px; 
    height: 315px;
    border: none;
}
.gif{
    width: 50%;
}
.img{
width: 80%;
}